/*
!/.gitignore
!/.gitconfig
!/.vim*
/.viminfo
/.vim
/.vim/backup
!/.vim/backup/.gitkeep
/.vim/tmp
!/.vim/tmp/.gitkeep

!/.kde
/.kde/*
!/.kde/share
/.kde/share/*
!/.kde/share/apps
/.kde/share/apps/*
!/.kde/share/apps/amarok
/.kde/share/apps/amarok/*
!/.kde/share/apps/amarok/mysqle
/.kde/share/apps/amarok/mysqle/*
!/.kde/share/apps/amarok/mysqle/amarok
/.kde/share/apps/amarok/mysqle/amarok/*
!/.kde/share/apps/amarok/mysqle/amarok/podcastchannels*.M*

!/.fldigi
/.fldigi/*
!/.fldigi/fldigi_def.xml
