/*

!/bin
!/.gitignore
!/.gitconfig
!/.vim*
/.viminfo
!/.vim
!/.vim/tmp/.gitkeep
!/.vim/backup/.gitkeep
!/.bash*
!/.profile

!/.ssh
/.ssh/*
!/.ssh/known_hosts
!/.ssh/id_rsa.pub
!/.ssh/authorized_keys
!/.ssh/config
!/.irssi

!/.kde
/.kde/*
!/.kde/share
/.kde/share/*
!/.kde/share/apps
/.kde/share/apps/*
!/.kde/share/apps/amarok
/.kde/share/apps/amarok/*
!/.kde/share/apps/amarok/mysqle
/.kde/share/apps/amarok/mysqle/*
!/.kde/share/apps/amarok/mysqle/amarok
/.kde/share/apps/amarok/mysqle/amarok/*
!/.kde/share/apps/amarok/mysqle/amarok/podcastchannels*.M*

!/.fldigi
/.fldigi/*
!/.fldigi/fldigi_def.xml

/.vim/backup*
/.bash_history
