# secretfile filter=git-crypt diff=git-crypt
# secretdir/** filter=git-crypt diff=git-crypt
*.pak filter=git-crypt diff=git-crypt
*.wad filter=git-crypt diff=git-crypt
*.sav filter=git-crypt diff=git-crypt
track*.mp3 filter=git-crypt diff=git-crypt
track*.ogg filter=git-crypt diff=git-crypt