/*
!/.gitignore
!/.gitconfig
!/.vim*
/.viminfo
/.vim
/.vim/backup
!/.vim/backup/.gitkeep
/.vim/tmp
!/.vim/tmp/.gitkeep
!/.vim/bundle

!/.fldigi
/.fldigi/*
!/.fldigi/fldigi_def.xml

!/.stack
/.stack/*
!/.stack/config.yaml
!/.stack/global-project
/.stack/global-project/*
!/.stack/global-project/stack.yaml

!/.stylish-haskell.yaml
!/.hlint.yaml

!/.ghci

!/code
/code/other
